Challenge 3/node-red
[{"id":"42f6946d.761f6c","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":180,"y":360,"wires":[["5f8234cc.8aea14"]]},{"id":"5f8234cc.8aea14","type":"function","z":"b5d1af96.0416f8","name":"Splitting","func":"//check order\nvar ArrayData = msg.payload.split(',');\nvar f1= ArrayData[0];\nvar f2= ArrayData[1];\nvar f3= ArrayData[2];\n\nmsg.topic='channels/1725141/publish'\nmsg.payload='field1='+f1+'&field2='+f2+'&field3='+f3+'&status=MQTTPUBLISH';\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":600,"wires":[["9d4aa44d.255cb8","81c32d5f.a0a4b"]]},{"id":"27311f56.be47d","type":"mqtt out","z":"b5d1af96.0416f8","name":"","topic":"","qos":"","retain":"","broker":"2e02ea56.1dfe9e","x":910,"y":620,"wires":[]},{"id":"9d4aa44d.255cb8","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":540,"wires":[]},{"id":"81c32d5f.a0a4b","type":"delay","z":"b5d1af96.0416f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":620,"wires":[["27311f56.be47d"]]},{"id":"2e02ea56.1dfe9e","type":"mqtt-broker","z":"","name":"thingspeak","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"FC0DIREtOxIAJSEiGhsdEA8","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]