Challenge 2/node-red_code.txt
[{"id":"ab8adc5f.11561","type":"inject","z":"b5d1af96.0416f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["9d2bd122.5e7818"]]},{"id":"9d2bd122.5e7818","type":"file in","z":"b5d1af96.0416f8","name":"file","filename":"/home/user/Desktop/iot-feeds.csv","format":"utf8","chunk":false,"sendError":false,"x":350,"y":60,"wires":[["e7ea0a03.195848"]]},{"id":"e7ea0a03.195848","type":"csv","z":"b5d1af96.0416f8","name":"","sep":",","hdrin":true,"hdrout":true,"multi":"one","ret":"\\n","temp":"code,field1,field2,field3,field4,field5,field6,field7","skip":"0","x":530,"y":60,"wires":[["e71d7c4f.b2825","d27d332e.4ade9"]]},{"id":"4fae061b.a2308","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":220,"wires":[]},{"id":"e71d7c4f.b2825","type":"function","z":"b5d1af96.0416f8","name":"filter 1","func":"\nif (msg.payload.code >= 8612 && msg.payload.code < 8712)\n{  \n    \n    var field1=msg.payload.field1;\n    var field2=msg.payload.field2;\n    var field5=msg.payload.field5;\n    msg.topic='channels/1710628/publish';\n    msg.payload='field1='+field1+'&field2='+field2+'&field3='+field5+'&status=MQTTPUBLISH';\n    \n    return msg;\n\n}\n","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["769cc332.0fdb84"]]},{"id":"8881285.d97ccd8","type":"mqtt out","z":"b5d1af96.0416f8","name":"","topic":"","qos":"","retain":"","broker":"6da640a0.80385","x":650,"y":340,"wires":[]},{"id":"769cc332.0fdb84","type":"delay","z":"b5d1af96.0416f8","name":"","pauseType":"rate","timeout":"60","timeoutUnits":"seconds","rate":"2","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":340,"wires":[["8881285.d97ccd8","4fae061b.a2308"]]},{"id":"d27d332e.4ade9","type":"function","z":"b5d1af96.0416f8","name":"filter 2","func":"if (msg.payload.code >= 8612 && msg.payload.code < 8712)\n{  \n    msg.payload=msg.payload.field5;\n\n    return msg;\n    \n}\n\n","outputs":1,"noerr":0,"x":790,"y":40,"wires":[["d9de3c87.c6d31"]]},{"id":"d9de3c87.c6d31","type":"delay","z":"b5d1af96.0416f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":140,"wires":[["ee3c34be.4d4ed8"]]},{"id":"ee3c34be.4d4ed8","type":"ui_chart","z":"b5d1af96.0416f8","name":"","group":"f6e5d497.cdac38","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":940,"y":120,"wires":[[],[]]},{"id":"6da640a0.80385","type":"mqtt-broker","z":"","name":"CHALLENGE 2","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"ICUFDyA9FCsiDQoqOxoeAS4","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f6e5d497.cdac38","type":"ui_group","z":"","name":"Default","tab":"b8bf97c3.22f39","disp":true,"width":"6","collapse":false},{"id":"b8bf97c3.22f39","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]